# Virtual Environment
.venv/
venv/

# Python
__pycache__/
*.pyc
*.pyo
*.pyd

# SQLite
db.sqlite3

# Media uploads
media/

# Environment variables / secrets
.env
.env.*

# VS Code
.vscode/

# PyCharm
.idea/

# Windows
Thumbs.db

# macOS
.DS_Store
