{% extends "base.html" %}

{% block title %}LearnCode{% endblock %}

{% block content %}

<section class="hero text-center py-5">

    <h1 class="display-3 fw-bold">
        LearnCode
    </h1>

    <p class="lead mt-4">
        Μάθε Python, Web Development και Προγραμματισμό
        με σύγχρονες μεθόδους διδασκαλίας.
    </p>

    <div class="mt-4">

        <a href="#" class="btn btn-primary btn-lg me-3">
            🚀 Ξεκίνα σήμερα
        </a>

        <a href="#" class="btn btn-outline-primary btn-lg">
            📩 Επικοινωνία
        </a>

    </div>

</section>

<hr class="my-5">

<div class="row g-4">

    <div class="col-md-4">

        <a href="{% url 'panelladikes' %}" class="text-decoration-none text-dark">
            <div class="card h-100 shadow-sm">

                <div class="card-body text-center">

                    <div class="fs-2 mb-3">
                        🎓
                    </div>

                <h3>
                    Πανελλήνιες
                </h3>

                <p class="mb-0">
                    Προετοιμασία για το μάθημα της Πληροφορικής.
                </p>

            </div>

        </div>
    </a>

    </div>

    <div class="col-md-4">

        <div class="card h-100 shadow">

            <div class="card-body text-center">

                <h2>🐍</h2>

                <h4>Python</h4>

                <p>
                    Από τα πρώτα βήματα μέχρι προχωρημένο επίπεδο.
                </p>

            </div>

        </div>

    </div>

    <div class="col-md-4">

        <div class="card h-100 shadow">

            <div class="card-body text-center">

                <h2>🌐</h2>

                <h4>Web Development</h4>

                <p>
                    HTML, CSS, JavaScript και Django.
                </p>

            </div>

        </div>

    </div>

    

</div>

{% endblock %}