{% extends "base.html" %}

{% block title %}
    {{ course.title }} | LearnCode
{% endblock %}

{% block content %}

<section class="py-5">

    <a
        href="{% url 'course_list' %}"
        class="text-decoration-none"
    >
        ← Επιστροφή στα μαθήματα
    </a>

    <div class="mt-4">

        <span class="badge bg-primary mb-3">
            {{ course.get_level_display }}
        </span>

        <h1 class="fw-bold">
            {{ course.title }}
        </h1>

        <p class="lead text-muted mt-3">
            {{ course.description }}
        </p>

    </div>

    <hr class="my-5">

    <div>

        <h2 class="fw-bold mb-4">
            Περιεχόμενα μαθήματος
        </h2>

        {% for lesson in course.lessons.all %}

            {% if lesson.published %}

                <div class="card shadow-sm mb-3">

                    <div class="card-body">

                        <h5 class="card-title mb-2">
                            {{ lesson.order }}. {{ lesson.title }}
                        </h5>
                         <a
                            href="{% url 'lesson_detail' course.slug lesson.slug %}"
                            class="btn btn-outline-primary mt-2"
                        >
                            Άνοιγμα ενότητας
                        </a>

                        <p class="text-muted mb-0">
                            Επιμέρους μάθημα
                        </p>

                    </div>

                </div>

            {% endif %}

        {% empty %}

            <div class="alert alert-info">
                Δεν υπάρχουν ακόμη διαθέσιμα μαθήματα.
            </div>

        {% endfor %}

    </div>

</section>

{% endblock %}